# Исключаем конфигурационные файлы с секретами
.env

# Исключаем файлы и директории Git
.git
.gitignore

# Исключаем файлы логов
logs/
*.log

# Исключаем личные данные
# private/


# Исключаем документацию
README.md

# Исключаем Docker-составный файл
docker-compose.yml

